@charset "UTF-8" ;

@font-face {
    font-family: [Titulo];
   src: url(idroid.otf);
}
*{
    padding: 0%;
    margin: 0% ;

}


header {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(29,241,25,1) 0%, rgb(34, 128, 36) 69%, rgb(11, 59, 8) 100%);
    padding: 50PX;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

header p{
    padding: 15px;
    text-align: center;
    font-size: 0.7em;
}

header a {
    text-decoration: none;
    color: white;
    text-align: left;
    padding: 5px;
    
}
 body{
    background-color: rgb(70, 226, 83);
 }

 main {
    background-color:white;
    margin: auto 8% auto 8%;
 }

 section {
    padding: 10px;
 }

 section h1 {
    color: green;
    font-family: Titulo;

 }