@charset "UTF-8" ;

*{
    padding: 0%;
    margin: 0% ;

}


header {
    background-color: greenyellow;
    padding: 20PX;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: white;
}

#home{
    text-align: left;
}