@charset "UTF-8" ;

*{
    padding: 0%;
    margin: 0% ;

}


header {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(29,241,25,1) 0%, rgba(44,166,46,1) 69%, rgba(17,99,13,1) 100%);
    padding: 50PX;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    padding: 20px;
    tex
}

header p{
    padding: 15px;
}

header a {
    text-decoration: none;
    color: white;
}
