@charset "UTF-8";

body{
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: aliceblue;
}

h2{
    color: rgb(36, 26, 26);
}

h1#principal{
    text-align: center;
    background-color: blanchedalmond;
    bor
}