@charset "UTF-8";

body{
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: aliceblue;
}

h2{
    color: rgb(36, 26, 26);
}

h1#principal{
    text-align: center;
}

h2.basic{
    color: green;
    text-align: center;
}

h2.intermed{
    color: yellow;
}

h2.avancado{
    color: red;
}