@charset




body{
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}  
h1{
    color: darkblue;
    background-color: black;
}

h2{
    color: rebeccapurple;
}

p{
    text-align: center;
}