*{
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #f39209;
}

h2{
    color: #f#2c3a7;
}
p {
    text-align: justify;
}
